.app {
    background: #F7F8FA;
    width: 100vw;
    height: 100vh;
}
.tab {
    width: 100%;
    height: 50px;
}
.list {
    width: 100%;
    height: calc(100vh - 50px - 40px);
}
.searchk {
    width: calc(100% - 40px);
    height: 30px;
    margin-left: 20px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px rgba($color: #eee, $alpha: 0.1);

    img {
        height: 16px;
        float: left;
        margin-top: 7px;
        margin-left: 10px;
    }

    input {
        width: calc(100% - 40px);
        float: right;
        height: 100%;
        border: 0px solid transparent;
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none;
        background: transparent;
        font-size: 14px;
        color: #666;
    }
}
.assignk {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #F7F8FA;

    .btn {
        width: calc(100% - 50px);
        margin-left: 25px;
        height: 35px;
        font-size: 13px;
        border-radius: 10px;
        line-height: 35px;
        text-align: center;
    }
    .btn2 {
        position: absolute;
        bottom: 20px;
        background: #fff;
        color: #666;
    }
    .btn1 {
        position: absolute;
        bottom: 65px;
        background: #3774E4;
        color: #fff;
    }
    .kk {
        width: 100%;
        height: calc(100% - 120px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        
        .title {
            width: 100%;
            height: 30px;
            margin-top: 10px;
            line-height: 30px;
            padding-left: 20px;
            position: relative;
            box-sizing: border-box;
            color: #000000;
            font-size: 14px;
            font-weight: bold;

            .line {
                height: 14px;
                width: 3px;
                background: #0067C2;
                left: 0;
                top: 8px;
                position: absolute;
            }
        }
        .item {
            width: calc(100% - 40px);
            margin-left: 20px;
            height: 45px;
            margin-bottom: 10px;
            color: #000;
            display: flex;
            align-items: center;
            background: #fff;
            border-radius: 7px;
            font-size: 14px;
            position: relative;

            .head {
                height: 35px;
                margin-left: 15px;
                margin-right: 10px;
            }
            span {
                color: #E70000;
            }
            .gou {
                float: right;
                height: 21px;
                top: 11px;
                right: 25px;
                position: absolute;
                display: none;
            }
        }
        .itema {
            box-sizing: border-box;
            border: 1px solid #7B9CDB;
            background: #E6F2FB;

            .gou {
                float: right;
                height: 19px;
                top: 12px;
                right: 20px;
                position: absolute;
                display: block;
            }
        }
        .nomore {
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 13px;
            color: #777;
        }
    }
}

.sm {
    width: 100%;
    height: 72px;
    font-size: 15px;
    color: #666;
    color: #0047BC;
    padding: 5px;
    box-sizing: border-box;
    border: 0px solid rgba($color: #c9c9c9, $alpha: 0.7);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent; 
    border-radius: 4px;
    background: #F7F7F7;
}

.txt {
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    span {
        color: red;
    }
}

.btn1 {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    justify-content: center;
    background: #FF685A;
    margin-top: 10px;

    img {
        height: 14px;
        margin-right: 4px;
    }
}

.jujuepop {
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .jujuek {
        width: 80vw;
        height: auto;
        background: #fff;
        border-radius: 10px;
        position: relative;
    }
    .jujueh {
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background: #FF685A;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        img {
            height: 14px;
            vertical-align: -2px;
        }
    }
    .cc {
        position: absolute;
        right: 13px;
        top: 13px;
        height: 14px;
    }
    .jujuec {
        width: 100%;
        box-sizing: border-box;
        line-height: 25px;
        padding: 15px 20px;
        font-size: 14px;
        color: #444;
    }
}






input::-webkit-input-placeholder {
    color: #bbb;
}
input::-moz-placeholder {
    color: #bbb;
}
input::-ms-input-placeholder {
    color: #bbb;
}